<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en-EN">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Sorayal" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Greeting Form" />
    <meta name="keywords" content="Greeting, Thymeleaf" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Message: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>